#nav-banner{
    display: flex;
}

#btn-banner-esquerdo, #btn-banner-direito{
    width: 6vw;
    height: 40vh;
    background-color: #ff0000;
    display: flex;
    justify-content: center;
    align-items: center;
}

#banner{
    width: 80vw;
    height: 40vh;
    background-color: #ff0000;

    overflow-x: hidden;

}

#banner div{
    width: 80vw;
    height:40vh;
    flex-shrink: 0;
}