


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5vh;
    background-color: #1e293b;
    position: fixed;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 2rem;
    padding: 1vw;
    color: #dc2626;

}

.nav {
    display: flex;
    gap: 2vh;
}

.nav a {
    color: #94a3b8;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
}

.nav a:hover {
    color: #94a3b8;
}

.fa-solid {
    color: #dc2626;
    border-color: rgb(0, 1, 77);
}