.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh;
    background-color: #1e293b;
    position: fixed;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 2rem;
    padding: 1vw;
    color: #dc2626;

}

.nav {
    display: flex;
    gap: 2vh;
}

.nav a {
    color: #94a3b8;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    /* A transition cria uma animação fluida para propriedades que mudarem */
    transition: color 0.3s ease, transform 0.3s ease;
}

.nav a:hover {
    color: #f8fafc;
    /* Fica branco/claro para acender o texto */
    transform: translateY(-3px);
    /* Faz o link 'flutuar' levemente para cima */
}


.fa-solid {
    color: #dc2626;
    border-color: rgb(0, 1, 77);
}