@import url(./header.css);
@import url(./banner.css);
@import url(./cards.css);
body {
    background-color: #182130;
}
.banner {
    width: 100%;
    padding: 2vh;
    background: #ff6200;
    border: 2px solid #cc5500;
    border-radius: 0.5em;
    text-align: center;
    margin-bottom: 2vh;
}

.banner-img {
    font-size: 4rem;
    transition: all 0.5s ease;
}

.banner p {
    color: #e8a840;
    font-size: 1.2rem;
    margin-top: 1vh;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Garante que o header fique na frente de outros elementos */
}